body{
    font-family: 'Nunito', sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    text-align: center;
    font-weight: 600;
    font-size: 2.5rem;
}
form{
    display: flex;
}
input{
    height: 30px;
    min-width: 400px;
    margin: auto 10px;
    padding: 5px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
}
button{
    padding: 0 20px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 1.3rem;
    background-color: blueviolet;
    color: aliceblue;
    transition: .2s;
}
button:hover{
    color: blueviolet;
    background-color: aliceblue;
    border: 1px solid blueviolet;
}
.todos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-top: 20px;
}
.todo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    height: 70px;
    box-shadow: 0 0 20px 2px #ccc;

    padding: 15px;
    margin: 10px;
}
.task{
    font-size: 20px;
    font-weight: 400;
    color: #555;
}
.status{
    background-color: blueviolet;
    color: aliceblue;
    padding: 5px 10px;
    cursor: pointer;
}
.completed{
    text-decoration: line-through;
}